/* Write your CSS here */
.footer-container {
  align-self: stretch;
  text-align: center;
  background-color: #cbd5e1;
  margin-bottom: 64px;
}

.footer-text {
  color: #475569;
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 48px;
  }
}
